.second-sector {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1200px;
  margin: 100px auto;
  gap: 40px;
}
.second-sector-title-box {
  max-width: 960px;
}
.second-sector-text-box {
  max-width: 720px;
}
